# Pinned fuer DeepSeek-OCR-2
transformers==4.46.3
accelerate>=0.26.0
tokenizers>=0.20.3
bitsandbytes>=0.43.1

# WICHTIG: Offizieller Windows Support
scipy
einops
optimum
PyMuPDF
Pillow
watchdog
pyyaml
chromadb
colorama
sentence-transformers
PyQt6
huggingface_hub

addict
